<div id="add-container">
	<button id="add" class="btn btn-default" data-toggle="modal" data-target="#addUserModal"> Add Entry </button>
	<div id="create-edit-user"></div>
	<hr>
</div>

<div id="list-container">
	<div class="panel panel-default">
		<div class="panel-header">
			<h1 class="text-center"> Summary of entries </h1>
		</div>
	</div>
	<div id="list">
		<table id="grid" class="table table-hover table-responsive">
			<tr class="active">
				<th>From</th>
			    <th>To</th>
			    <th>Task Description</th>
			    <th>Number of hours</th>
			    <th>Pay?</th>
			    <th>&nbsp;</th>
			</tr>
		</table>
	</div>
</div>